</main>
    
    <footer>
    <div class="footer-content">
        <nav>
            <ul class="footer-links">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('recipe-liste') }}">Toutes les recettes</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <p>&copy; PasUnVraiSiteDeRecettes - Tous droits réservés</p>
    </div>
</footer>

</body>
</html>